/* GENERAL */

.odd {
    background-color: #1ABC9C;
}

.debug {
    border: 1px solid red;
}

/* HEADER */

#mr-navbar a {
    color: white;
}

/* MAIN */

/* SECTION HERO */

#hero .container {
    color: var(--bs-white);
}

#hero img {
    width: 15rem;
}

#hero h2 {
    font-size: 12rem;
}

/* SECTION ABOUT  */

